.BrushPreview {
    position: relative;
    display: flex;
    justify-content: center;
}

.BrushPreview > .name {
    position: absolute;
    top: 0;
    opacity: .8;
    text-shadow: var(--overlay-color) 1px 0 10px;
    font-size: .8rem;
}

.uuuuuuu {
    background: var(--overlay-color);

}