.InputPaletteColors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.InputPaletteColors > .InputColor {
    width: 100%;
}

.InputPaletteColors > .InputColor > .InputColor {
    width: 100%;
    opacity: 0;
}

.InputPaletteColors > ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    align-content: start;
    overflow-y: scroll;
}


.InputPaletteColors > .color-list {
    height: 100px;
    flex: 1 1 auto;
    margin: 0;
}