.Canvas {
  overflow: hidden;
  height: calc(100vh - var(--button-diameter) * 2 - 21px);
  width: calc(100% - var(--button-diameter) * 2);
  background: var(--background-color);
}

.Canvas > * {
  width: var(--doc-width);
}

.Canvas > * > * {
  background: url(Transparency10.png);
  position: relative;
}

.Canvas > * > * > * {
  position: absolute;
}

.Canvas > * > * > * > * {
  position: absolute;
}
