.Canvas {
  overflow: auto;
  height: calc(100vh - 23px);
  width: calc(100% - 23px);
  scroll-padding: 100px;
  scroll-snap-type: both mandatory;
  box-sizing: border-box;
  background: rgb(128, 128, 128);
}

.Canvas > * {
  width: var(--doc-width);
  padding: max(calc(50vh - ((var(--doc-height)/2) + 23px)), 100px) max(calc(50% - (var(--doc-width)/2)), 100px);
}

.Canvas > * > * {
  background: url(Transparency10.png);
  position: relative;
}

.Canvas > * > * > * {
  position: absolute;
}

.Canvas > * > * > * > * {
  position: absolute;
}
