.Menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}

.Menu > li {
  display: flex;
  flex-direction: column;
}

.Menu > li > ul {
  gap: 5px;
  margin-top: 5px;
}

.Menu .dropdown ul > li {
  background: transparent;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
  gap: 0;
}

.Menu li > .text {
  background: var(--overlay-color);
  padding: 0.2rem 0;
  max-width: 0;
  transition: 0.5s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.Menu .dropdown:focus-within li > .text {
  padding: 0.2rem 0.5rem;
  max-width: 100vw;
}

.Menu .dropdown:focus-within ul > li {
  background: transparent;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.import-brush input {
  min-width: 1rem;
}

.brush-list {
  height: calc(100svh - 15rem);
  overflow-y: auto;
}

.brush-list .selected {
  background: var(--overlay-color);
}

.brush-list ul.brushes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 2px 0;
}

ul.brushes li > div {
  display: flex;
  justify-content: center;
  padding: 2px 0;
}

@media screen and (orientation:portrait) { 

  .brush-list {
    height: calc(100vw - 15rem);
  }

}