.Menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Menu > li {
  display: flex;
  flex-direction: column;
}

.Menu > li > ul {
  gap: 5px;
  margin-top: 5px;
}

.Menu .dropdown ul > li {
  background: transparent;
}

.fields {
  display: flex;
  flex-direction: column;
}
