.QuickStart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--button-diameter) * 2 - 21px);
  width: calc(100% - var(--button-diameter) * 2);
}
.QuickStart > .QuickStart-modal {
  width: var(--quick-start-width);
  height: var(--quick-start-height);
}

.QuickStart > .QuickStart-modal,
.QuickStart > .QuickStart-modal > * {
  background: var(--background2-color);
}

.QuickStart > .QuickStart-modal button {
  color: var(--main-color);
}
