.App {
    display: flex;
    flex-direction: column;
}

.App > .content {
    flex: 1 1 auto;
    display: flex;
}

.App > .content > .tools {
    width: 100px;
    display: flex;
    flex-direction: column;
}
